.header-toolbar { // TODO: sticky?
    display: flex;
    width: 100%;
}

.site-title {
    visibility: hidden;
}

@media only screen and (min-width: 500px) {
    .site-title {
        visibility: visible;
    }
}

.menu-button-group {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
