<div class="about-site-view-container">
    <app-content-block>
        More info to come! Since this site is itself partly a demonstration of my ability to work across the stack, everything you see 
        is custom-coded, without any low-code or no-code solutions being used.  The code for this site is hosted in 
        a public monorepo on <a mat-button color="accent" href="https://www.github.com/brennanmcfarland/portfolio-site" style="margin: -10px -10px;">GitHub</a>.  
        I used Angular for the frontend and will be using a variety of languages in a service oriented architecture 
        for the backend, piped through Amazon API Gateway.  It's all cloud-hosted on AWS, with Amplify for the frontend and backend services  
        hosted on EC2 instances.
    </app-content-block>
</div>