.profile-header {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.profile-image {
    clip-path: circle(150px at 50% 40%);
    margin-bottom: -75px;
}

.welcome-blurb-container {
    display: flex;
    justify-content: center;
}

.footnote {
    font-size: .75em;
}

.home-link {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
