<div class="profile-header">
    <img src="../../assets/me.png" class="profile-image" matTooltip="A very professional picture of me">
    <mat-list role="list">
        <!-- TODO: make these components -->
        <mat-list-item role="listitem" style="margin-left: -30px;"><a mat-stroked-button href="https://www.linkedin.com/in/brennanmcfarland"><b>LinkedIn</b> <span style="margin: 0 10px; border: 1px solid grey; height: 1em; width: 0"></span> includes my resume</a></mat-list-item>
        <mat-list-item role="listitem" style="margin-left: 0px;"><a mat-stroked-button href="https://www.github.com/brennanmcfarland"><b>GitHub</b> <span style="margin: 0 10px; border: 1px solid grey; height: 1em; width: 0"></span> my public facing coding projects</a></mat-list-item>
        <mat-list-item role="listitem" style="margin-left: 20px;"><a mat-stroked-button href="mailto:theotherbrennanmcfarland@gmail.com"><b>Email</b> <span style="margin: 0 10px; border: 1px solid grey; height: 1em; width: 0"></span> my public facing email; for my professional email please see my resume</a></mat-list-item>
    </mat-list>
</div>
<div class="welcome-blurb-container">
    <div class="welcome-blurb">
        <app-content-block>
            Welcome to my site!  Its main purpose is as a hub for my professional profile to showcase my abilities 
            as a Developer/Software Engineer, but also as a place for me to experiment and make new and fun things 
            in a place where people can see how they work without digging into the source code.  It's currently very 
            much a work in progress, but I'll try to keep adding new features and to keep it up to date over time 
            (we'll see how that goes)!
        </app-content-block>
    </div>

    
</div>
<footer style="margin-left: 10px; font-size: .75em;">
    P.S.: Yes I know it's not responsive; I'll get around to it.
</footer>
